.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px 5px 8px 5px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    margin: 20px 5px;
    box-shadow: 3px 6px 9px lightslategray;
}

.skillName {
   
    font-size: large;
    font-weight: 600;
}

.progress-bar {
    height: 6px;
    background: #d5d9df;
    border-radius: 5px;
    overflow: hidden;
    width: 100px;
}

.fill {
    height: 100%;
    background: #1b1f2e;
    width: 0;
    border-radius: 5px;
    transition: width 1s ease;
    
}