.scrollDown {
    display: inline-block;
    animation: motion_updown 1.2s ease-out infinite;
    margin-top: 40px;
}

@keyframes motion_updown {

    0%,
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
    }

}