.headingSection {

    background-color: #242424;
    height: max-content;
    color: whitesmoke;
    padding: 15rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.headingSection h1 {
    text-align: center;
}

.contactPage {
    margin: 1rem;
}

.contactLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutSection {
    height: max-content;
    padding: 3rem;
}

.aboutSection p {
    text-align: left;
}

@media (max-width:1350px) {
    .contactLinks {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
}

@media (max-width:845px) {
    .headingSection h1 {

        font-size: 2rem;
    }

    .contactPage {
        margin: 0;
    }

    .headingSection {
        padding: 8rem 5rem;
    }

}